{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row py-5">
      <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px">
          <p class="fs-4 text-uppercase text-center text-primary">
            Get your Furry Best Friend
          </p>
          <h1 class="display-3">About Us</h1>
        </div>
        <h5 class="text-muted mb-3">
          Welcome to Pet Haven, your ultimate destination for all things furry
          and feathery!!
        </h5>
        <p class="mb-4">
          At Pet Haven, we understand that pets are not just animals; they are
          cherished members of your family, bringing joy, love, and
          companionship to your life. Our online pet shop is designed with the
          utmost care and dedication to provide a seamless and enjoyable
          experience for both you and your future four-legged friend.
        </p>
        <p class="mb-4">
          Pet Haven was founded with a passion for enhancing the bond between
          humans and animals. Our team of pet enthusiasts and experts is
          committed to delivering a diverse selection of pets, pet supplies,
          and accessories to cater to the unique needs and preferences of
          every pet lover.
        </p>
 
        <!-- <ul class="list-inline">
          <li>
            <h5>
              <i class="fa fa-check-double text-secondary mr-3"></i>Best In
              Industry
            </h5>
          </li>
          <li>
            <h5>
              <i class="fa fa-check-double text-secondary mr-3"></i>Emergency
              Services
            </h5>
          </li>
          <li>
            <h5>
              <i class="fa fa-check-double text-secondary mr-3"></i>24/7
              Customer Support
            </h5>
          </li>
        </ul> -->
        <a href="./about.html" class="btn btn-lg btn-primary mt-3 px-4"
          >Learn More</a
        >
      </div>
      <div class="col-lg-5">
        <div class="row px-3">
          <div class="col-12 p-0">
            <img class="img-fluid w-100" src="{% static 'images/carousel-1.jpg' %}" alt="" />
          </div>
          <div class="col-6 p-0">
            <img class="img-fluid w-100" src="{% static 'images/birddd.jpg' %}" alt="" />
          </div>
          <div class="col-6 p-0">
            <img class="img-fluid w-100" src="{% static 'images/about-1.jpg' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}