{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<h1>You are already Logged In</h1>
{% else %}
<br>
<div class="col-md-3 mx-auto">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            {{ form | crispy }}
        </fieldset>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div>
        <small>Need an Account? <a href="{% url 'register' %}">Sign Up</a></small>
    </div>
</div>
{% endif %}
{% endblock %}

<!--
{% if user.is_authenticated %}
<h1>You are already Logged In</h1>
{% else %}
<div class="col-md-3 mx-auto">
    <form method="POST", action="{% url 'login' %}">
        {% csrf_token %}
        <h1 style="text-align: left;">Login</h1>
        <br>
        <div class="mb-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
{% endif %}
-->