{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<!-- Navbar Start -->
   
<!-- Navbar End -->

<!-- Pet form -->
<div>
  <!-- <h2>Tell us about your pet</h2> -->
  <h1>Tell us about your pet</h1>
  <form class="pet-info" method="post" action="{% url 'profile-update' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <h1>Create your Profile</h1>
        <form class="profile" method="POST" , action="{% url 'profile-view' %}">
          <label for="first_name">First Name:<span>*</span></label>
          <input type="text" name="first_name" id="first_name" required />
          <br />
          <label for="last_name">Last Name:<span>*</span></label>
          <input type="text" name="last_name" required id="last_name" />
          <br />
          <label for="profile_pic">Update profile picture:<span>*</span></label>
          <input type="file" name="profile_pic" accept="image/*" id="profile_pic" required/>
          <br />
          <label for="address">Address:<span>*</span></label>
          <input type="text" name="address" id ="address" required />
          <br />
          <label for="phone">Phone:<span>*</span></label>
          <input type="text" name="phone" id ="phone" required />
          <br />
          <input class="btn btn-primary" type="submit" value="Submit" name="profile_update" />
        </form>
      </div>

{% endblock %}
 